{% load static %}
<footer class="site-footer site-footer__section site-footer__section--flex">
        <div class="container">
            <div class="site-footer__section-inner">
                <div class="site-footer__section-left">
                    <div class="site-logo">
                        <a href="http://ghost.bk-ninja.com/poppy">
                            <img class="logo-image"
                                 src="{% static 'assets/images/xlogo-white.png%2cqv%3d59733c470e.pagespeed.ic.xMocvXAt6w.png' %}"
                                 alt="Poppy">
                        </a>
                    </div>
                </div>
                <div class="site-footer__section-center text-center">
                    <ul class="footer-social-list social-list social-list--md list-horizontal">
                        <li>
                            <a class="social-item social-item-facebook" href="https://www.facebook.com/ghost"
                               target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                                <i class="mdicon mdicon-facebook-f"></i> </a>
                        </li>

                        <li>
                            <a class="social-item social-item-twitter" href="https://twitter.com/ghost" target="_blank"
                               rel="noopener noreferrer" aria-label="Twitter">
                                <i class="mdicon mdicon-twitter"></i> </a>
                        </li>
                    </ul>
                </div>
                <div class="site-footer__section-right">
                    <p class="copyright">Poppy © 2021. Made with by<a
                            href="https://themeforest.net/user/designuptodate">DesignUTD</a></p>
                </div>
            </div>
        </div>
    </footer>