{% load static %}
<header class="site-header">
    <!-- version-white-->
    <!-- Mobile header -->
    <nav class="hidden-sm js-sticky-header-holder"></nav>
    <div class="header-main hidden-xs hidden-sm">
        <div class="container">
            <div class="row row--flex row--vertical-center header-main__inner">
                <div class="col-xs-3 text-left">
                    <a class="icon-menu js-mnmd-offcanvas-toggle" href="#mnmd-offcanvas-primary">
                        <img src="{% static 'assets/images/ximg-icon_03.png%2cqv%3d59733c470e.pagespeed.ic.BMlzSA54Yu.png' %}"/>
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="site-logo header-logo">
                        <a href="http://ghost.bk-ninja.com/poppy">
                            <img class="logo-image"
                                 src="{% static 'content/images/2021/09/xlogo.png.pagespeed.ic.NatvxZXzN3.png' %}"
                                 alt="Poppy">
                        </a>
                    </div>
                </div>
                <div class="col-xs-3 text-right">
                    <div class="search-social flex-center">
                        <ul class="flex-1 social-list social-list--md list-horizontal">
                            <li>
                                <a class="social-item social-item-facebook" href="https://www.facebook.com/ghost"
                                   target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                                    <i class="mdicon mdicon-facebook-f"></i> </a>
                            </li>

                            <li>
                                <a class="social-item social-item-twitter" href="https://twitter.com/ghost"
                                   target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                                    <i class="mdicon mdicon-twitter"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mnmd-mobile-header" class="mobile-header visible-xs visible-sm header_home">
        <div class="container">
            <div class="mobile-header__inner mobile-header__inner--flex">
                <div class="header-branding header-branding--mobile mobile-header__section text-left">
                    <div class="header-logo header-logo--mobile flexbox__item text-left">
                        <a href="http://ghost.bk-ninja.com/poppy">
                            <img class="logo-image"
                                 src="{% static 'content/images/2021/09/xlogo.png.pagespeed.ic.NatvxZXzN3.png' %}"
                                 alt="Poppy">
                        </a>
                    </div>
                </div>
                <div class="mobile-header__section text-right">
                    <i class="mdicon mdicon-menu mdicon--last hidden-xs"></i><i
                        class="mdicon mdicon-menu visible-xs-inline-block"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile header -->
    <!-- Navigation bar -->
    <!-- Navigation bar -->
</header>