{% load static %}
<div id="mnmd-offcanvas-primary"
         class="mnmd-offcanvas js-mnmd-offcanvas js-perfect-scrollbar ps-container ps-theme-default"
         data-ps-id="d2b78dc6-fbe0-cb2f-afc7-c37076405b0b">
        <div class="mnmd-offcanvas__title">
            <h2 class="site-logo">
                <a href="http://ghost.bk-ninja.com/poppy">
                    <img class="logo-image"
                         src="{% static 'content/images/2021/09/xlogo.png.pagespeed.ic.NatvxZXzN3.png' %}"
                         alt="Poppy">
                </a>
            </h2>
            <ul class="social-list list-horizontal">
                <li>
                    <a class="social-item social-item-facebook" href="https://www.facebook.com/ghost" target="_blank"
                       rel="noopener noreferrer" aria-label="Facebook">
                        <i class="mdicon mdicon-facebook-f"></i> </a>
                </li>

                <li>
                    <a class="social-item social-item-twitter" href="https://twitter.com/ghost" target="_blank"
                       rel="noopener noreferrer" aria-label="Twitter">
                        <i class="mdicon mdicon-twitter"></i> </a>
                </li>
            </ul>
            <a href="#mnmd-offcanvas-primary" class="mnmd-offcanvas-close js-mnmd-offcanvas-close"
               aria-label="Close"><span aria-hidden="true">✕</span></a>
        </div>
        <div class="mnmd-offcanvas__section mnmd-offcanvas__section-navigation">
            <div id="offcanvas-menu-mobile" class="menu-main-menu-container">
                <ul id="menu-main-menu-2" class="navigation navigation--offcanvas">
                    <li><a class="menu-item menu-item-home menu-item-current" href="index.html">Home</a></li>
                    <li><a class="menu-item menu-item-fashion" href="tag/fashion/index.html">Fashion</a></li>
                    <li><a class="menu-item menu-item-author" href="author/connorrandall/index.html">Author</a></li>
                    <li><a class="menu-item menu-item-typography" href="typography/index.html">Typography</a></li>
                    <li><a class="menu-item menu-item-single"
                           href="the-greatest-thing-in-the-world-is-to-know-how-to-belong-to-oneself/index.html">Single</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>