{% load static %}
<div id="mnmd-sticky-header" class="sticky-header js-sticky-header">
        <!-- Navigation bar -->
        <nav class="navigation-bar navigation-bar--fullwidth hidden-xs hidden-sm">
            <div class="container">
                <div class="navigation-bar__inner">
                    <div class="header-branding navigation-bar__section">
                        <div class="site-logo header-logo">
                            <a href="http://ghost.bk-ninja.com/poppy">
                                <img class="logo-image"
                                     src="{% static 'content/images/2021/09/xlogo.png.pagespeed.ic.NatvxZXzN3.png' %}"
                                     alt="Poppy">
                            </a>
                        </div>
                    </div>
                    <div class="navigation-wrapper navigation-bar__section js-priority-nav" style="opacity: 1;">
                        <div id="main-menu" class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="navigation navigation--main navigation--inline">
                                <li><a class="menu-item menu-item-home menu-item-current" href="index.html">Home</a>
                                </li>
                                <li><a class="menu-item menu-item-fashion" href="tag/fashion/index.html">Fashion</a>
                                </li>
                                <li><a class="menu-item menu-item-author"
                                       href="author/connorrandall/index.html">Author</a></li>
                                <li><a class="menu-item menu-item-typography"
                                       href="typography/index.html">Typography</a></li>
                                <li><a class="menu-item menu-item-single"
                                       href="the-greatest-thing-in-the-world-is-to-know-how-to-belong-to-oneself/index.html">Single</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="navigation-bar__section mnmd-header-right">
                        <ul class="social-list list-horizontal">
                            <li>
                                <a class="social-item social-item-facebook" href="https://www.facebook.com/ghost"
                                   target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                                    <i class="mdicon mdicon-facebook-f"></i> </a>
                            </li>
                            <li>
                                <a class="social-item social-item-twitter" href="https://twitter.com/ghost"
                                   target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                                    <i class="mdicon mdicon-twitter"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .navigation-bar__inner -->
            </div>
            <!-- .container -->
        </nav>
        <!-- Navigation bar -->
    </div>