{% load static %}
<div class="mnmd-block mnmd-block--fullwidth mnmd-post--grid-a">
            <div class="container">
                <div class="post--grid-a__inner">
                    <div class="block-heading text-center clearfix">
                        <h4 class="block-heading__title">
                            Editor&#x27;s Pick
                        </h4>
                    </div>
                    <div class="post--grid-a__wrap flexbox__row-reverse row flexbox flexbox--middle flexbox">

                        <div class="big-post--overlay col-md-6 flexbox__item">
                            <div class="slider-post mnmd-carousel js-mnmd-carousel-1i owl-carousel">
                                <div class="slide-item">
                                    <article class="post--overlay post--overlay-bottom post--overlay-floorfade">
                                        <div class="post--overlay__inner">
                                            <div class="background-img"
                                                 style="background-image:url({% static 'content/images/size/w960/2021/09/xriccardo-mion-652657-unsplash.jpg.pagespeed.ic.z1XbxUPAqT.jpg' %})"></div>
                                            <div class="post__text inverse-text">
                                                <div class="post__text-wrap">
                                                    <div class="post__text-inner">
                                                        <h3 class="post__title typescale-3">Cool Things Never Came From
                                                            Comfort Zones</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="link-overlay"
                                               href="cool-things-never-came-from-comfort-zones/index.html"></a>
                                        </div>
                                        <a class="post__cat overlay-item--top-left" href="tag/fashion/index.html">Fashion</a>
                                    </article>
                                </div>


                                <div class="slide-item">
                                    <article class="post--overlay post--overlay-bottom post--overlay-floorfade">
                                        <div class="post--overlay__inner">
                                            <div class="background-img"
                                                 style="background-image:url({% static 'content/images/size/w960/2021/09/xaction-balance-beach-345415.jpg.pagespeed.ic.PPFPiFPZ9V.jpg' %})"></div>
                                            <div class="post__text inverse-text">
                                                <div class="post__text-wrap">
                                                    <div class="post__text-inner">
                                                        <h3 class="post__title typescale-3">A Loving Heart Is the Truest
                                                            Wisdom.</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="link-overlay"
                                               href="a-loving-heart-is-the-truest-wisdom/index.html"></a>
                                        </div>
                                        <a class="post__cat overlay-item--top-left" href="tag/book/index.html">Book</a>
                                    </article>
                                </div>


                                <div class="slide-item">
                                    <article class="post--overlay post--overlay-bottom post--overlay-floorfade">
                                        <div class="post--overlay__inner">
                                            <div class="background-img"
                                                 style="background-image:url({% static 'content/images/size/w960/2021/09/xmatthew-henry-794-unsplash.jpg.pagespeed.ic.ZCJHrZVJBa.jpg' %})"></div>
                                            <div class="post__text inverse-text">
                                                <div class="post__text-wrap">
                                                    <div class="post__text-inner">
                                                        <h3 class="post__title typescale-3">We Have to Do the Best We
                                                            Are Capable of</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="link-overlay"
                                               href="we-have-to-do-the-best-we-are-capable-of-2/index.html"></a>
                                        </div>
                                        <a class="post__cat overlay-item--top-left" href="tag/fashion/index.html">Fashion</a>
                                    </article>
                                </div>


                            </div>
                            <div id="numberSlide" class="control-nots">01<span class="slide-seperated"></span>03</div>
                        </div>
                        <div class="small-post--horizontal col-md-6">
                            <article class="post post--horizontal post--horizontal-bottom">
                                <div class="post__thumb">
                                    <div class="background-img"
                                         style="background-image:url({% static 'content/images/size/w750/2021/09/xroberto-nickson-446014-unsplash.jpg.pagespeed.ic.j1QqsNeEfS.jpg' %})"></div>
                                </div>
                                <div class="post__text">
                                    <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                    <h3 class="post__title typescale-3"><a
                                            href="life-begins-on-the-other-side-of-despair/index.html">Life Begins on
                                        the Other Side of Despair</a></h3>
                                    <div class="entry-author post-author-style-2">
                                        <span>By </span>
                                        <a href="author/dannyings/index.html" class="author-avatar">
                                            <img src="https://secure.gravatar.com/avatar/a85fbe13ad8e5648f5e462665915c9ab?s=512&amp;d=mm&amp;r=g"
                                                 alt=""/>
                                        </a>
                                        <div class="author__text">
                                            <a class="author__name author-name" href="author/dannyings/index.html">
                                                Danny Ings</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </div>