{% load static %}
<div class="mnmd-block mnmd-block-fullwidth mnmd-post--grid-b">
            <div class="container">
                <div class="post--grid-b__inner">
                    <div class="block-heading text-center heading__title-st-3 clearfix">
                        <h4 class="block-heading__title">
                            Travel News
                        </h4>
                    </div>
                    <div class="post--grid-b__inner clearfix">
                        <div class="big-post--horizontal">
                            <div class="slider-post-b mnmd-carousel js-carousel-1i30m owl-carousel owl-loaded owl-drag">
                                <div class="slide-item">
                                    <article class="post post--horizontal post-d-style height-lg">
                                        <div class="post__thumb">
                                            <div class="post__thumb-wrap">
                                                <div class="background-img"
                                                     style="background-image:url({% static 'content/images/size/w960/2021/09/xniket-nigde-1294873-unsplash.jpg.pagespeed.ic.Ub6vEF744U.jpg' %})"></div>
                                                <div class="post-date">
                                                    <time class="time published" datetime="2016" title="am"> Friday,
                                                        April 6th, 2019
                                                    </time>
                                                </div>
                                                <a class="post__cat" href="tag/camera/index.html">Camera</a>
                                            </div>
                                            <a class="link-overlay"
                                               href="you-have-as-much-laughter-as-you-have-faith/index.html"></a>
                                            <div class="entry-author post-author-style-3">
                                                <a href="author/connorrandall/index.html" class="author-avatar">
                                                    <img src="https://secure.gravatar.com/avatar/4ab42eb94b8bb9e1b55eeb9a3f26d630?s=512&amp;d=mm&amp;r=g"
                                                         alt=""/>
                                                </a>
                                                <div class="author__text">
                                                    <a class="author__name author-name"
                                                       href="author/connorrandall/index.html"> Connor Randall</a>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="post__text">
                                            <h3 class="post__title typescale-5"><a
                                                    href="you-have-as-much-laughter-as-you-have-faith/index.html">You
                                                Have as Much Laughter as You Have Faith</a></h3>
                                            <div class="post__excerpt">
                                                Met to launch on the manufacturer&#8217;s new A330neo aircraft in 2017,
                                                it&#8217;
                                            </div>
                                        </div>
                                    </article>
                                </div>


                                <div class="slide-item">
                                    <article class="post post--horizontal post-d-style height-lg">
                                        <div class="post__thumb">
                                            <div class="post__thumb-wrap">
                                                <div class="background-img"
                                                     style="background-image:url({% static 'content/images/size/w960/wordpress/2019/03/xcactus-flower-pot-houseplant-1856430.jpg.pagespeed.ic.R6Ve88BsH9.jpg' %})"></div>
                                                <div class="post-date">
                                                    <time class="time published" datetime="2016" title="am"> Friday,
                                                        April 6th, 2019
                                                    </time>
                                                </div>
                                                <a class="post__cat" href="tag/blog/index.html">Blog</a>
                                            </div>
                                            <a class="link-overlay"
                                               href="the-most-successful-people-are-those-who-are-good-at-plan/index.html"></a>
                                            <div class="entry-author post-author-style-3">
                                                <a href="author/connorrandall/index.html" class="author-avatar">
                                                    <img src="https://secure.gravatar.com/avatar/4ab42eb94b8bb9e1b55eeb9a3f26d630?s=512&amp;d=mm&amp;r=g"
                                                         alt=""/>
                                                </a>
                                                <div class="author__text">
                                                    <a class="author__name author-name"
                                                       href="author/connorrandall/index.html"> Connor Randall</a>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="post__text">
                                            <h3 class="post__title typescale-5"><a
                                                    href="the-most-successful-people-are-those-who-are-good-at-plan/index.html">The
                                                Most Successful People Are Those Who Are Good at Plan</a></h3>
                                            <div class="post__excerpt">
                                                Met to launch on the manufacturer&#8217;s new A330neo aircraft in 2017,
                                                it&#8217;
                                            </div>
                                        </div>
                                    </article>
                                </div>


                                <div class="slide-item">
                                    <article class="post post--horizontal post-d-style height-lg">
                                        <div class="post__thumb">
                                            <div class="post__thumb-wrap">
                                                <div class="background-img"
                                                     style="background-image:url({% static 'content/images/size/w960/2021/09/xkira-auf-der-heide-352144-unsplash1.jpg.pagespeed.ic.0tXe9Q6lB4.jpg' %})"></div>
                                                <div class="post-date">
                                                    <time class="time published" datetime="2016" title="am"> Friday,
                                                        April 6th, 2019
                                                    </time>
                                                </div>
                                                <a class="post__cat" href="tag/house/index.html">House</a>
                                            </div>
                                            <a class="link-overlay"
                                               href="some-men-see-things-as-they-are-and-ask-why/index.html"></a>
                                            <div class="entry-author post-author-style-3">
                                                <a href="author/bkninja/index.html" class="author-avatar">
                                                    <img src="https://secure.gravatar.com/avatar/662a272c8be177be19f47db7acac0cb9?s=512&amp;d=mm&amp;r=g"
                                                         alt=""/>
                                                </a>
                                                <div class="author__text">
                                                    <a class="author__name author-name"
                                                       href="author/bkninja/index.html"> bkninja</a>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="post__text">
                                            <h3 class="post__title typescale-5"><a
                                                    href="some-men-see-things-as-they-are-and-ask-why/index.html">Some
                                                Men See Things as They Are and Ask Why</a></h3>
                                            <div class="post__excerpt">
                                                Met to launch on the manufacturer&#8217;s new A330neo aircraft in 2017,
                                                it&#8217;
                                            </div>
                                        </div>
                                    </article>
                                </div>


                            </div>
                        </div>
                        <div class="small-post--horizontal">
                            <article class="post post--horizontal">
                                <div class="post__thumb">
                                    <div class="background-img"
                                         style="background-image:url({% static 'content/images/size/w750/2021/09/xhanson-lu-670681-unsplash.jpg.pagespeed.ic.qexG4o2hC0.jpg' %})"></div>
                                    <a class="link-overlay"
                                       href="if-you-want-to-make-enemies-try-to-change-something-2/index.html"></a>
                                </div>
                                <div class="post__text">
                                    <a class="post__cat" href="tag/health/index.html">Health</a>
                                    <h3 class="post__title typescale-3">
                                        <a href="if-you-want-to-make-enemies-try-to-change-something-2/index.html">If
                                            You Want to Change Something</a>
                                    </h3>
                                </div>
                            </article>
                        </div>


                    </div>
                </div>
            </div>
        </div>