{% load static %}
<div class="mnmd-block mnmd-block--fullwidth mnmd-post--grid-featured">
            <div class="container">
                <div class="post--grid-featured__inner clearfix">
                    <div class="big-post--horizontal">
                        <article class="post post--horizontal post--horizontal-reverse height-lg">
                            <div class="post__thumb">
                                <div class="background-img"
                                     style="background-image:url({% static 'content/images/size/w960/2021/09/xvalentina-aleksandrovna-142593-unsplash.jpg.pagespeed.ic.ge-2HUceM5.jpg' %})"></div>
                                <div class="post__readmore bg-readmore text-bottom-right clearfix">
                                    <a href="the-brain-is-wider-than-the-sky/index.html" class="button__readmore">
                                        <span class="icon-post"><i class="mdicon mdicon-arrow-right"></i></span>
                                    </a>
                                </div>
                                <a class="link-overlay" href="the-brain-is-wider-than-the-sky/index.html"></a>
                            </div>
                            <div class="post__text">
                                <h3 class="post__title typescale-5"><a
                                        href="the-brain-is-wider-than-the-sky/index.html">The Brain Is Wider Than the
                                    Sky</a></h3>

                                <div class="entry-author post-author-style-2">
                                    <span>By </span>
                                    <a href="author/connorrandall/index.html" class="author-avatar">
                                        <img src="https://secure.gravatar.com/avatar/4ab42eb94b8bb9e1b55eeb9a3f26d630?s=512&amp;d=mm&amp;r=g"
                                             alt=""/>
                                    </a>
                                    <div class="author__text">
                                        <a class="author__name author-name" href="author/connorrandall/index.html">
                                            Connor Randall</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="post--vertical-featured">
                        <article class="post post--vertical post-d-style post-d-style-reverse height-md">
                            <div class="post__thumb">
                                <div class="post__thumb-wrap">
                                    <div class="background-img"
                                         style="background-image:url({% static 'content/images/size/w750/2021/09/xsimone-scarano-1298521-unsplash.jpg.pagespeed.ic.mEOcZnM4UG.jpg' %})"></div>
                                    <div class="post-date">
                                        <time class="time published" datetime="Mar 6, 2019" title="Mar 6, 2019">Mar 6,
                                            2019
                                        </time>
                                    </div>
                                </div>
                                <a class="link-overlay" href="either-get-busy-living-or-get-busy-dying/index.html"></a>
                            </div>
                            <div class="post__text">
                                <h3 class="post__title typescale-3"><a
                                        href="either-get-busy-living-or-get-busy-dying/index.html">Either Get Busy
                                    Living or Get Busy Dying</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="small-post--vertical">
                        <article class="post post--vertical height-xs">
                            <div class="post__thumb">
                                <div class="background-img"
                                     style="background-image:url({% static 'content/images/size/w750/2021/09/xricardo-gomez-angel-294371-unsplash.jpg.pagespeed.ic.LcsmDOaoz9.jpg' %})"></div>
                                <a class="link-overlay" href="he-only-way-round-is-through/index.html"></a>
                            </div>
                            <div class="post__text">
                                <h3 class="post__title typescale-3">
                                    <a href="he-only-way-round-is-through/index.html">He Only Way Round Is Through</a>
                                </h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>