{% load static %}
<div class="mnmd-block mnmd-block--fullwidth">
            <div class="container">
                <div class="block-content">
                    <div class="row">
                        <div class="mnmd-main-col" role="main">
                            <div class="mnmd-block mnmd-posts-list">
                                <div class="block-heading heading-style-2 text-center clearfix">
                                    <h4 class="block-heading__title">
                                        Latest News
                                    </h4>
                                </div>
                                <div class="posts-list-style1 posts-list list-space-xxl post-feed">
                                    <div class="list-item feed">
                                        <article class="big-post--vertical post post--vertical post-d-style">
                                            <div class="post__thumb">
                                                <div class="post__thumb-wrap">
                                                    <div class="background-img"
                                                         style="background-image: url({% static 'content/images/size/w960/2021/09/angel-leon-274435-unsplash.jpg' %})"></div>
                                                    <div class="post-date">
                                                        <time class="time published" datetime="2016" title="am"> Friday,
                                                            April 6th, 2019
                                                        </time>
                                                    </div>
                                                    <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                                </div>
                                                <a class="link-overlay"
                                                   href="the-greatest-thing-in-the-world-is-to-know-how-to-belong-to-oneself/index.html"></a>
                                            </div>
                                            <div class="post__text">
                                                <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                                <h3 class="post__title typescale-4"><a
                                                        href="the-greatest-thing-in-the-world-is-to-know-how-to-belong-to-oneself/index.html">The
                                                    Greatest Thing in The World is to Know How to Belong to Oneself</a>
                                                </h3>
                                                <div class="entry-author post-author-style-2">
                                                    <span>By </span>
                                                    <a href="author/connorrandall/index.html" class="author-avatar">
                                                        <img src="https://secure.gravatar.com/avatar/4ab42eb94b8bb9e1b55eeb9a3f26d630?s=512&amp;d=mm&amp;r=g"
                                                             alt=""/>
                                                    </a>
                                                    <div class="author__text">
                                                        <a class="author__name author-name"
                                                           href="author/connorrandall/index.html"> Connor Randall</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!--  row flex -->
                                    <div class="row row--space-between grid-gutter-40 listing-2-item-float feed">
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image:url({% static 'content/images/size/w750/2021/09/jeff-tingz-532184-unsplash-1.jpg' %})"></div>
                                                    <a class="link-overlay"
                                                       href="the-two-most-powerful-warriors-are-patience-and-time/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/health/index.html">Health</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="the-two-most-powerful-warriors-are-patience-and-time/index.html">The
                                                            Two Most Powerful Warriors Are Patience and Time</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/dannyings/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/a85fbe13ad8e5648f5e462665915c9ab?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/dannyings/index.html"> Danny Ings</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image: url({% static 'content/images/size/w750/2021/09/attractive-beautiful-beautiful-girl-1963076.jpg' %})"></div>
                                                    <a class="link-overlay"
                                                       href="you-will-become-as-small-as-your-controlling-desire/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="you-will-become-as-small-as-your-controlling-desire/index.html">You
                                                            Will Become as Small as Your Controlling Desire</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/isabella/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/6f934a64730e79d98743476632127a9c?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/isabella/index.html"> Ava Isabella</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image:url({% static 'content/images/size/w750/2021/09/xriccardo-mion-652657-unsplash.jpg.pagespeed.ic.15i0Bn9R0N.jpg' %})"></div>
                                                    <a class="link-overlay"
                                                       href="cool-things-never-came-from-comfort-zones/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="cool-things-never-came-from-comfort-zones/index.html">Cool
                                                            Things Never Came From Comfort Zones</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/bkninja/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/662a272c8be177be19f47db7acac0cb9?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/bkninja/index.html"> bkninja</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image:url({% static 'content/images/size/w750/2021/09/xaction-balance-beach-345415.jpg.pagespeed.ic.CoUGXGZcl5.jpg' %})"></div>
                                                    <a class="link-overlay"
                                                       href="a-loving-heart-is-the-truest-wisdom/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/book/index.html">Book</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="a-loving-heart-is-the-truest-wisdom/index.html">A
                                                            Loving Heart Is the Truest Wisdom.</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/dannyings/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/a85fbe13ad8e5648f5e462665915c9ab?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/dannyings/index.html"> Danny Ings</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image: url({% static 'content/images/size/w750/2021/09/matthew-henry-794-unsplash.jpg' %});"></div>
                                                    <a class="link-overlay"
                                                       href="we-have-to-do-the-best-we-are-capable-of-2/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="we-have-to-do-the-best-we-are-capable-of-2/index.html">We
                                                            Have to Do the Best We Are Capable of</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/bkninja/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/662a272c8be177be19f47db7acac0cb9?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/bkninja/index.html"> bkninja</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image:url({% static 'content/images/size/w750/2021/09/xroberto-nickson-446014-unsplash.jpg.pagespeed.ic.j1QqsNeEfS.jpg' %})"></div>
                                                    <a class="link-overlay"
                                                       href="life-begins-on-the-other-side-of-despair/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="life-begins-on-the-other-side-of-despair/index.html">Life
                                                            Begins on the Other Side of Despair</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/dannyings/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/a85fbe13ad8e5648f5e462665915c9ab?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/dannyings/index.html"> Danny Ings</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image: url({% static 'content/images/size/w750/2021/09/blake-connally-346988-unsplash.jpg' %});"></div>
                                                    <a class="link-overlay"
                                                       href="that-which-does-not-kill-us-makes-us-stronger/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/fashion/index.html">Fashion</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="that-which-does-not-kill-us-makes-us-stronger/index.html">That
                                                            Which Does Not Kill Us Makes Us Stronger</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/connorrandall/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/4ab42eb94b8bb9e1b55eeb9a3f26d630?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/connorrandall/index.html"> Connor
                                                                Randall</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-6 list-item">
                                            <article class="post post--vertical small-post--vertical height-sm">
                                                <div class="post__thumb">
                                                    <div class="background-img"
                                                         style="background-image: url({% static 'content/images/size/w750/wordpress/2019/03/antique-apothecary-bottles-antique-bottles-antique-jars-1084586.jpg' %});"></div>
                                                    <a class="link-overlay"
                                                       href="he-who-has-a-why-to-live-can-bear-almost-any-how/index.html"></a>
                                                </div>
                                                <div class="post__text">
                                                    <a class="post__cat" href="tag/flower/index.html">Flower</a>
                                                    <h3 class="post__title typescale-3">
                                                        <a href="he-who-has-a-why-to-live-can-bear-almost-any-how/index.html">He
                                                            Who Has a Why to Live Can Bear Almost Any How</a>
                                                    </h3>
                                                    <div class="entry-author post-author-style-2">
                                                        <span>By </span>
                                                        <a href="author/isabella/index.html" class="author-avatar">
                                                            <img src="https://secure.gravatar.com/avatar/6f934a64730e79d98743476632127a9c?s=512&amp;d=mm&amp;r=g"
                                                                 alt=""/>
                                                        </a>
                                                        <div class="author__text">
                                                            <a class="author__name author-name"
                                                               href="author/isabella/index.html"> Ava Isabella</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <nav class="pagination">
                                    <a class="older-posts" href="page/2/index.html"></a>
                                </nav>
                                <div class="infinite-scroll-action">
                                    <button class="button button-secondary infinite-scroll-button">
                                        <span class="label">Load More</span>
                                        <span class="loader"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                                                                  viewBox="0 0 40 40">
    <path opacity="0.3" fill="currentColor"
          d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
    <path fill="currentColor"
          d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20"
                          dur="0.5s" repeatCount="indefinite"/>
    </path>
</svg></span>
                                    </button>
                                </div>
                            </div>
                        </div><!-- .mnmd-main-col -->
                        <div class="mnmd-sub-col mnmd-sub-col--right js-sticky-sidebar" role="complementary">
                            <div class="mnmd-widget widget widget-about-me">
                                <div class="widget__title about__title">
                                    <h4 class="widget__title-text">About Me</h4>
                                </div>
                                <div class="widget__inner about-me__inner">
                                    <div class="about-img">
                                        <div class="background-img"
                                             style="background-image:url(https://secure.gravatar.com/avatar/6f934a64730e79d98743476632127a9c?s=512&amp;d=mm&amp;r=g)"></div>
                                        <a class="link-overlay" href="author/isabella/index.html"></a>
                                    </div>

                                    <div class="about__text text-center">
                                        <a class="author-name" href="author/isabella/index.html">Ava Isabella</a>
                                        <div class="about-bio">
                                            Nascetur netus, nascetur ante elit sodales. Placerat class ante lacus
                                            consequat sapien ante elit sodales
                                        </div>
                                        <ul class="social-list social-list--sm list-horizontal">
                                            <li>
                                                <a href="https://www.facebook.com/ghost" target="_blank"
                                                   rel="noopener noreferrer">
                                                    <i class="mdicon mdicon-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/@ghost" target="_blank"
                                                   rel="noopener noreferrer">
                                                    <i class="mdicon mdicon-twitter"></i> </a>
                                            </li>

                                            <li><a href="index.html" target="_blank">
                                                <svg data-name="Layer 1" id="Layer_1" height="13px" width="13px"
                                                     viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M16,30A14,14,0,1,1,30,16,14,14,0,0,1,16,30ZM16,4A12,12,0,1,0,28,16,12,12,0,0,0,16,4Z"/>
                                                    <path d="M16,30a1,1,0,0,1-1-1V3a1,1,0,0,1,2,0V29A1,1,0,0,1,16,30Z"/>
                                                    <path d="M23,17a1,1,0,0,1-1-1c0-6.5-2.75-12-6-12a1,1,0,0,1,0-2c4.49,0,8,6.15,8,14A1,1,0,0,1,23,17Z"/>
                                                    <path d="M16,30a1,1,0,0,1,0-2c3.25,0,6-5.5,6-12a1,1,0,0,1,2,0C24,23.85,20.49,30,16,30Z"/>
                                                    <path d="M9,17a1,1,0,0,1-1-1C8,8.15,11.51,2,16,2a1,1,0,0,1,0,2c-3.25,0-6,5.5-6,12A1,1,0,0,1,9,17Z"/>
                                                    <path d="M16,30c-4.49,0-8-6.15-8-14a1,1,0,0,1,2,0c0,6.5,2.75,12,6,12a1,1,0,0,1,0,2Z"/>
                                                    <path d="M29,17H3a1,1,0,0,1,0-2H29a1,1,0,0,1,0,2Z"/>
                                                    <path d="M27,11H5A1,1,0,0,1,5,9H27a1,1,0,0,1,0,2Z"/>
                                                    <path d="M27,23H5a1,1,0,0,1,0-2H27a1,1,0,0,1,0,2Z"/>
                                                </svg>
                                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mnmd-widget widget widget-posts-list-nothumbnail">
                                <div class="widget__inner widget-posts-list-nothumbnail__inner">
                                    <div class="widget__title">
                                        <h4 class="widget__title-text">The Latest Posts</h4>
                                    </div>
                                    <div class="widget__wrap widget-posts-list-nothumbnail__wrap">
                                        <ul class="posts-list list-space-md list-seperated list-unstyled clearfix">
                                            <li class="list-item">
                                                <article class="post post--vertical">
                                                    <div class="media">
                                                        <div class="media-left media-middle">
                                                            <span class="list-index">1</span>
                                                        </div>
                                                        <div class="media-body media-middle">
                                                            <h3 class="post__title typescale-1"><a
                                                                    href="the-greatest-thing-in-the-world-is-to-know-how-to-belong-to-oneself/index.html">The
                                                                Greatest Thing in The World is to Know How to Belong to
                                                                Oneself</a></h3>
                                                            <div class="post-date">
                                                                <time class="time published" datetime="Mar 6, 2019"
                                                                      title="Mar 6, 2019">Mar 6, 2019
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                            <li class="list-item">
                                                <article class="post post--vertical">
                                                    <div class="media">
                                                        <div class="media-left media-middle">
                                                            <span class="list-index">2</span>
                                                        </div>
                                                        <div class="media-body media-middle">
                                                            <h3 class="post__title typescale-1"><a
                                                                    href="the-two-most-powerful-warriors-are-patience-and-time/index.html">The
                                                                Two Most Powerful Warriors Are Patience and Time</a>
                                                            </h3>
                                                            <div class="post-date">
                                                                <time class="time published" datetime="Mar 6, 2019"
                                                                      title="Mar 6, 2019">Mar 6, 2019
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                            <li class="list-item">
                                                <article class="post post--vertical">
                                                    <div class="media">
                                                        <div class="media-left media-middle">
                                                            <span class="list-index">3</span>
                                                        </div>
                                                        <div class="media-body media-middle">
                                                            <h3 class="post__title typescale-1"><a
                                                                    href="you-will-become-as-small-as-your-controlling-desire/index.html">You
                                                                Will Become as Small as Your Controlling Desire</a></h3>
                                                            <div class="post-date">
                                                                <time class="time published" datetime="Mar 6, 2019"
                                                                      title="Mar 6, 2019">Mar 6, 2019
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                            <li class="list-item">
                                                <article class="post post--vertical">
                                                    <div class="media">
                                                        <div class="media-left media-middle">
                                                            <span class="list-index">4</span>
                                                        </div>
                                                        <div class="media-body media-middle">
                                                            <h3 class="post__title typescale-1"><a
                                                                    href="cool-things-never-came-from-comfort-zones/index.html">Cool
                                                                Things Never Came From Comfort Zones</a></h3>
                                                            <div class="post-date">
                                                                <time class="time published" datetime="Mar 6, 2019"
                                                                      title="Mar 6, 2019">Mar 6, 2019
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="mnmd-widget widget widget-slider-posts">
                                <div class="widget__inner widget-slider-posts__inner">
                                    <div class="widget__title">
                                        <h4 class="widget__title-text">Popular</h4>
                                    </div>
                                    <div class="widget__wrap widget-slider-posts__wrap">
                                        <ul class="posts-list js-carousel-1i30m owl-carousel list-unstyled clearfix">
                                            <li class="list-item slide-item">
                                                <article class="post post--vertical">
                                                    <div class="post__thumb">
                                                        <div class="background-img"
                                                             style="background:url({% static 'content/images/size/w350/2021/09/xniket-nigde-1294873-unsplash.jpg.pagespeed.ic.N1LYVvDqNT.jpg' %})"></div>
                                                        <a class="link-overlay"
                                                           href="you-have-as-much-laughter-as-you-have-faith/index.html"></a>
                                                    </div>
                                                    <div class="post__text">
                                                        <a class="post__cat" href="tag/camera/index.html">Camera</a>
                                                        <h3 class="post__title typescale-2"><a
                                                                href="you-have-as-much-laughter-as-you-have-faith/index.html">You
                                                            Have as Much Laughter as You Have Faith</a></h3>
                                                        <div class="post__excerpt">Met to launch on the manufacturer&#8217;s
                                                            new A330neo aircraft in 2017, it&#8217;
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                            <li class="list-item slide-item">
                                                <article class="post post--vertical">
                                                    <div class="post__thumb">
                                                        <div class="background-img"
                                                             style="background:url({% static 'content/images/size/w350/wordpress/2019/03/xcactus-flower-pot-houseplant-1856430.jpg.pagespeed.ic.GThty4KTLu.jpg' %})"></div>
                                                        <a class="link-overlay"
                                                           href="the-most-successful-people-are-those-who-are-good-at-plan/index.html"></a>
                                                    </div>
                                                    <div class="post__text">
                                                        <a class="post__cat" href="tag/blog/index.html">Blog</a>
                                                        <h3 class="post__title typescale-2"><a
                                                                href="the-most-successful-people-are-those-who-are-good-at-plan/index.html">The
                                                            Most Successful People Are Those Who Are Good at Plan</a>
                                                        </h3>
                                                        <div class="post__excerpt">Met to launch on the manufacturer&#8217;s
                                                            new A330neo aircraft in 2017, it&#8217;
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                            <li class="list-item slide-item">
                                                <article class="post post--vertical">
                                                    <div class="post__thumb">
                                                        <div class="background-img"
                                                             style="background:url({% static 'content/images/size/w350/2021/09/xkira-auf-der-heide-352144-unsplash1.jpg.pagespeed.ic.8yP0Akevlg.jpg' %})"></div>
                                                        <a class="link-overlay"
                                                           href="some-men-see-things-as-they-are-and-ask-why/index.html"></a>
                                                    </div>
                                                    <div class="post__text">
                                                        <a class="post__cat" href="tag/house/index.html">House</a>
                                                        <h3 class="post__title typescale-2"><a
                                                                href="some-men-see-things-as-they-are-and-ask-why/index.html">Some
                                                            Men See Things as They Are and Ask Why</a></h3>
                                                        <div class="post__excerpt">Met to launch on the manufacturer&#8217;s
                                                            new A330neo aircraft in 2017, it&#8217;
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .mnmd-sub-col -->
                    </div>
                </div><!-- .container -->
            </div>
        </div>