{% load static %}
<div class="mnmd-block mnmd-block--fullwidth mnmd-post--grid-c">
            <div class="container">
                <div class="post--grid-c__inner">
                    <div class=" block-heading text-center  clearfix ">
                        <h4 class="block-heading__title ">
                            Health News
                        </h4>
                    </div>
                    <div class="post--grid-c__wrap flexbox__row-reverse row flexbox">
                        <div class="big-post--overlay col-md-6 flexbox__item">
                            <article
                                    class="post--overlay post--overlay-bottom post--overlay-floorfade post-d-style post-d-style-reverse  ">
                                <div class="post--overlay__inner">
                                    <div class="background-img"
                                         style="background-image:url({% static 'content/images/size/w750/2021/09/jeff-tingz-532184-unsplash-1.jpg' %})"></div>
                                    <div class="post__text inverse-text">
                                        <div class="post__text-wrap">
                                            <div class="post__text-inner">
                                                <h3 class="post__title typescale-3">The Two Most Powerful Warriors Are
                                                    Patience and Time</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-date">
                                        <time class="time published" datetime="Mar 6, 2019" title="Mar 6, 2019">Mar 6,
                                            2019
                                        </time>
                                    </div>
                                    <div class="post__readmore readmore-2 clearfix ">
                                        <a href="the-two-most-powerful-warriors-are-patience-and-time/index.html"
                                           class="button__readmore">
                                            Next<span class="icon-post"><i
                                                class="mdicon mdicon-arrow-right "></i></span>
                                        </a>
                                    </div>
                                </div>

                                <a class="link-overlay"
                                   href="the-two-most-powerful-warriors-are-patience-and-time/index.html"></a>
                            </article>
                        </div>
                        <div class="grid-c__vertical col-md-6">
                            <div class="small-post--vertical ">
                                <article class="post post--vertical height-sm flexbox flexbox__column-reverse">
                                    <div class="post__thumb">
                                        <div class="background-img"
                                             style="background-image:url({% static 'content/images/size/w750/2021/09/xsimone-scarano-1298521-unsplash.jpg.pagespeed.ic.mEOcZnM4UG.jpg' %})"></div>
                                    </div>
                                    <div class="post__text">
                                        <a class="post__cat" href="tag/health/index.html">Health</a>
                                        <h3 class="post__title typescale-3"><a
                                                href="either-get-busy-living-or-get-busy-dying/index.html">Either Get
                                            Busy Living or Get Busy Dying</a></h3>
                                        <div class="entry-author post-author-style-2">
                                            <span>By </span>
                                            <a href="author/connorrandall/index.html" class="author-avatar">
                                                <img src="https://secure.gravatar.com/avatar/4ab42eb94b8bb9e1b55eeb9a3f26d630?s=512&amp;d=mm&amp;r=g"
                                                     alt=""/>
                                            </a>
                                            <div class="author__text">
                                                <a class="author__name author-name"
                                                   href="author/connorrandall/index.html"> Connor Randall</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="post--list-nothumbnail">
                                <div class=" block-heading text-left  clearfix ">
                                    <h4 class="block-heading__title ">
                                        Hot News
                                    </h4>
                                </div>
                                <div class="post--list-nothumbnail__inner">
                                    <ul class="posts-list list-space-md  list-unstyled">
                                        <li>
                                            <article class="post post--nothumbnail">
                                                <div class="post__text">
                                                    <h3 class="post__title typescale-1"><a
                                                            href="he-only-way-round-is-through/index.html">He Only Way
                                                        Round Is Through</a></h3>
                                                </div>
                                            </article>
                                        </li>

                                        <li>
                                            <article class="post post--nothumbnail">
                                                <div class="post__text">
                                                    <h3 class="post__title typescale-1"><a
                                                            href="if-you-want-to-make-enemies-try-to-change-something-2/index.html">If
                                                        You Want to Change Something</a></h3>
                                                </div>
                                            </article>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>